<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        table {
            border-collapse: collapse;
        }
        td {
            border: 1px solid lightgrey;
        }
        td.header {
            font-weight: bold;
            padding: 6px;
        }
        td.value {
            padding: 6px;
        }
        td.value.new.changed {
            background-color: palegreen;
        }
        td.value.old.changed {
            background-color: salmon;
        }
    </style>
</head>
<body>
    <p style="font-family: Arial, Helvetica, sans-serif;">{{task_action}}</p>
    <h2 style="font-family: Arial, Helvetica, sans-serif;"><a href="{{task_url}}">{{new_task_name}}</a></h2>
    <table cellspacing="0" style="font-family: Arial, Helvetica, sans-serif; font-size: small;">
        <tr>
            <td class="header">Пользователь</td>
            <td class="header">{{user}}</td>
        </tr>
        <tr>
            <td class="header">Тема</td>
            <td class="value new">{{new_project_name}}</td>
        </tr>
        <tr>
            <td class="header">План</td>
            <td class="value new">{{new_plan_name}}</td>
        </tr>
        <tr>
            <td class="header">Лаб.</td>
            <td class="value new">{{new_lab_name}}</td>
        </tr>
        <tr>
            <td class="header">№ п.</td>
            <td class="value">{{task_code}}</td>
        </tr>
        <tr>
            <td class="header">Содержание</td>
            <td class="value new">{{new_task_name}}</td>
        </tr>
        <tr>
            <td class="header">Начало</td>
            <td class="value new">{{new_task_from}}</td>
        </tr>
        <tr>
            <td class="header">Окончание</td>
            <td class="value new">{{new_task_to}}</td>
        </tr>
        <tr>
            <td class="header">Исполнитель</td>
            <td class="value new">{{new_task_employee_last_name}}</td>
        </tr>
        <tr>
            <td class="header">Координатор</td>
            <td class="value new">{{new_task_coordinator_last_name}}</td>
        </tr>
        <tr>
            <td class="header">Ож.рез.</td>
            <td class="value new">{{new_task_object}}</td>
        </tr>
        <tr>
            <td class="header">Статус</td>
            <td class="value new">{{new_task_status_name}}</td>
        </tr>
        <tr>
            <td class="header">Т-з план. (ч)</td>
            <td class="value new">{{new_task_hours_planned}}</td>
        </tr>
        <tr>
            <td class="header">Примечание</td>
            <td class="value new">{{new_task_description}}</td>
        </tr>
        <tr>
            <td class="header">Пункт ОКП</td>
            <td class="value new">{{new_task_key}}</td>
        </tr>
    </table>
</body>