.ewIcon {
	font-size: 14px;
}

td.ewListOptionBody, th.ewListOptionHeader {
	padding-top: 2px !important;
	padding-bottom: 0 !important;
}

button b.caret {
	position: absolute;
	bottom: 4px;
}

/*
.ewFooterRow {
	display: none;
}
*/
/*
.ewListOtherOptions {
	margin-top: 4px;
}
*/
table.ewItemTable td, td.ewListOptionBody a.ewRowLink span.ewIcon {
	padding-top: 4px !important;
}

table.ewItemTable label.radio-inline {
	line-height: 1.75;
}

div.calendar tfoot {
	display: none;
}

span#el_xks_txtreg_datespublish option, span#el_xks_blockreg_datesreg option, span#el_cv_txtreg_for_agencies_datespublish option  {
	text-align: right;
}

h4.ewSiteTitle {
	display: none;
}

.ewDetail {
	line-height: 1.2;
	/* margin-top:-8px; */
	/* top:2px */
}

div.xk_comments {
	background-color:#FFE;
	border-radius: 4px;
	border: 1px solid #E6BFA1;
	line-height: 1.5;
	font-size: 125%
}

div.xk_comments b {
	font-size: 80%;
}

div.xk_comments > div {
	font-size: 80%;
	background-color: #FFDBBF;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	line-height: 24px;
	padding-left: 16px;
	color: rgba(0,0,0,0.6);
}

div.xk_comments > p {
	margin: 0;
	padding: 16px;
	border-top: 1px solid #E6BFA1;
}

td[data-name="text"], textarea[data-field="x_text"] {
	font-size: 16px !important;
}

select[data-field="x_datespublish"], select[data-field="x_datesreg"] {
	font-size: 15px !important;
}

.ewListOtherOptions {
	clear: left;
}

.form-control {
	color: #000 !important;
}

.ewTableSelectRow {
    background-color: #2e6da4 !important;
	color: #FFF !important;
}

.txtWebColor {
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid;
	border-radius: 8px;
}

div#textareaCounter {
	font-size: 10px;
}

select#x_work_task_id, select#x_task_plan_id {
	max-width: 600px;
}

a.gitlab-link {
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.26);
    color: #e24329;
	font-weight: bold;
	padding: 0px 4px;
}

a.gitlab-link img {
	width: 16px;
	height: 16px;
    margin-top: -2px;
    margin-right: 2px;
}

a.gitlab-link:hover, a.gitlab-link:focus {
	background-color: antiquewhite;
	color: #fc6d26;
	text-decoration: none;
}

tr.work-done {
	opacity: 0.7;
}

tr.ewTableHighlightRow, tr.ewTableSelectRow {
	opacity: 1;
}

a.ewShowAll {
	color: white;
    background-color: #F44336;
    background-image: linear-gradient(to bottom, #F44336 0, #C62828 100%);
    border-color: #B71C1C;
}

a.ewShowAll:hover, a.ewShowAll:focus, a.ewShowAll:active {
	color: white;
    background-color: #C62828;
    background-image: linear-gradient(to bottom, #F44336 0, #C62828 100%);
    border-color: #B71C1C;
}

.on-maintenance {
	background: #FFFF00 url(../extensions/works.png) 16px 16px no-repeat;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25) inset;
	color: black;
	display: block;
	font-size: 18px;
	height: 96px;
	line-height: 96px;
	padding-left: 96px;
}